<header>
  <h1>Chitter</h1>
  <%= erb :_flashpartial %>
  <%= erb :_homepagepartial %>
</header>
<ul>
  <% @peeps.reverse.each do |peep| %>
    <div id="peep_display">
      <li id="peep_text"><%= peep.message %></li>
      <li id="peep_info"><%= peep.author %> (<%= peep.username %>) | <%= peep.created %></li>
    </div>
  <% end %>
</ul>